<dd>
  <a href="#{{_id.station}}{{_id.week}}">
{{toUpper _id.station}} for the week ending {{_id.week}}
  </a>
  <div id="{{_id.station}}{{_id.week}}" class="content">
    <table width="100%">
      <tr>

        <th>Position</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Label</th>
      </tr>
    {{#each_with_sort albums "position"}}
      <tr>
        <td>{{this.position}}</td>
        <td>{{this.artist}}</td>
        <td>{{this.album}}</td>
        <td>{{this.label}}</td>
      </tr>
    {{/each_with_sort}}
    </table>
  </div>
</dd>
