
<div class="row">
  <div class="small-8 columns">
    <h1 class="artist-title">{{toUpper items.0.appearances.0.station}}</h1>
  </div>
  <div class="small-4 columns">
    <h2 class="right">Charts: <span class="header-label radius">{{items.0.totalWeeks.length}}</span></h2>
    <h4 class="right">Submitting Average: <span class="header-label radius">.{{items.0.percentage}}</span></h4>
  </div>
</div>
<div class="row">
  <div class="small-6 columns">
    <ul class="no-bullet">
      <li>Most Charted Artist: <span class="label radius right">{{items.0.artist}}</span></li>
      <li>Most Charted Album: <a class="label radius right" id="popStation">{{items.0.album}}</a></li>
      <!-- <li>ChartScore: <span class="label radius right">{{items.0.totalChartScore}}</span></li> -->
    </ul>
  </div>
  <div class="small-6 columns">
    <ul class="no-bullet">
      <!-- <li>Charts Submitted: <span class="label radius right">{{items.0.totalWeeks.length}}</span></li> -->
      <li>Albums Charted: <span class="label radius right">{{items.0.totalAlbums}}</span></li>

    </ul>
  </div>
</div>
