<dd>
  <a href="#{{slug}}">
    <div class="row">
      <div class="large-3 columns">{{artist}}</div>
      <div class="large-3 columns">{{album}}</div>
      <div class="large-3 columns">{{label}}</div>
      <div class="large-3 columns">{{totalPoints}}</div>
    </div>
  </a>
  <div id="{{slug}}" class="content">
    <div class="appearance-row row">
      <div class="large-4 columns">Position</div>
      <div class="large-4 columns">Week</div>
      <div class="large-4 columns">Station</div>
    </div>
    {{#each appearances}}
      <div class="appearance-row row">
        <div class="large-4 columns">{{this.position}}</div>
        <div class="large-4 columns">{{this.week}}</div>
        <div class="large-4 columns">{{toUpperCase this.station}}</div>
      </div>
    {{/each}}
  </div>
</dd>
