<!-- <h4>{{album}} - {{label}}</h4> -->
<div class="chart">
  <table width="100%">
    <thead>
      <tr><th colspan="3">{{album}} - {{label}} - {{appearances.length}} appearances</th></tr>
      <th column="position">Position</th>
      <th column="station">Station</th>
      <th column="week">Week</th>
    </thead>
    <tbody></tbody>
  <!-- {{#each_sort_date appearances "week"}}
    <tr>
      <td>{{this.position}}</td>
      <td><a>{{toUpper this.station}}</a></td>
      <td>{{this.week}}</td>
    </tr>
  {{/each_sort_date}} -->
  </table>
</div>
