<div class="row">
  <div class="small-8 columns">
    <h1 class="artist-title">{{items.0.artist}}</h1>
  </div>
  <div class="small-4 columns">
    <h2 class="right">Chartscore: <span class="header-label radius">{{items.0.totalChartScore}}</span></h2>
  </div>
</div>
<div class="row">
  <div class="small-6 columns">
    <ul class="no-bullet">
      <li>Most Charted: <span class="label radius right">{{items.0.popAlbum}}</span></li>
      <li>Most Charted on:{{#each items.0.popStation}} <a class="label radius right" id="popStation">{{this}}</a>{{/each}}</li>
      <!-- <li>ChartScore: <span class="label radius right">{{items.0.totalChartScore}}</span></li> -->
    </ul>
  </div>
  <div class="small-6 columns">
    <ul class="no-bullet">
      <li>Albums: <span class="label radius right">{{items.length}}</span></li>
      <li>Appearances: <span class="label radius right">{{items.0.totalAppearances}}</span></li>

    </ul>
  </div>
</div>
